.blue-bg {
  background: #26d4ff;
}
.ui-widget-content {
  border: 1px solid #DDD;
  background: #EFEFEF;
  color: #222222;
  height: 5px;
}

.ui-slider {
  top: 1.1em;
  bottom: 1em;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 105px;
  height: 25px;
  margin: 0 -40px auto !important;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  font-size: 12px;
  box-shadow: 0 4px 7px -2px rgba(0,0,0,0.4);
}

.ui-slider .ui-slider-handle .glyphicon {
  color: #FFFFFF;
  font-size: 10px;
  position: absolute;
}

.ui-slider .ui-slider-handle .glyphicon-triangle-left {
  top: 8px;
  left: 5px;
}

.ui-slider .ui-slider-handle .glyphicon-triangle-right {
  top: 8px;
  right: 5px;
}

.ui-corner-all {
  border-radius: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -.9em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  background: #26d4ff;
}
.ui-state-orange,
.ui-widget-content .ui-state-orange {
  background: #ffa819;
}

.ui-slider .ui-slider-handle {
  cursor: pointer;
  position: absolute;
  z-index: 100;
}
.ui-slider .ui-slider-handle label {
  max-width: none;
  margin-bottom: 0;
}

.ui-slider a,
.ui-slider a:focus {
  cursor: pointer;
  outline: none;
}

.price-slider {
  padding: 0 0 80px;
  margin: 0;
}