.chart {
  position: relative;
  display: block;
  width: 150px;
  height: 150px;
  margin: 15px auto;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 150px;
  z-index: 2;
  font-size: 35px;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
}
.span6 {
  float: left;
  width: 50%;
}


