/**********
GLOBAL STYLES
**********/
* {
	font-family: 'Biryani', sans-serif;
	font-weight: 400;
}
p {
	line-height: 2;
}
.btn {
	border: none;
}
.btn:hover {
	color: #fff;
}
.btn.white-bg.text-orange:hover {
	color: #ffa819;
}
.btn.white-bg.text-blue:hover {
	color: #26d4ff;
}
.no-padding {
	padding: 0;
}
.btn-sm {
	border-radius: 10px;
	padding: 10px 12px 6px;
}
.btn-center, .img-center {
	display: block;
	margin: 10px auto;
}
.hero-unit {
	text-shadow: 1px 1px 10px #000;
}
.hero-unit .big-title, .hero-unit .title, .hero-unit .sub-title {
	font-weight: 400;
}
.hero-unit .title {
	text-transform: none;
}
.slider-control {
  top: 45%;
  position: absolute;
  font-size: 30px;
  color: white;
}
.slider-control:hover {
  cursor: pointer;
  color: #26d4ff;
}
.slider-control.left {
  left: 15px;
}
.slider-control.right {
  right: 15px;
}
.carousel-indicators.slider-indicators {
  bottom: initial;
  top: 30px;
}

/**********
CLASSES
**********/
/** Colors **/
.blue-bg {
	background: #26d4ff;
}
.light-blue-bg {
	background: #73e2ff;
}
.dark-blue-bg {
	background: #0990b0;
}
.orange-bg {
	background: #ffa819;
}
.light-orange-bg {
	background: #ffbf59;
}
.lighter-orange-bg {
	background: #ffd796;
}
.white-bg {
	background: #fff;
}
.light-gray-bg {
	background: #efefef;
}
.teal-bg {
	background: #093640;
}
.dark-teal-bg {
	background: #002c33;
}

/** Text **/
.text-white {
	color: #fff;
}
.text-blue {
	color: #26d4ff;
}
.text-orange {
	color: #ffa819;
}
.text-gray {
	color: #808080;
}
.text-light-gray {
	color: #b0b0b0;
}
.text-lighter-gray {
	color: #c9c9c9;
}
.subtitle {
	font-size: 22px;
}
.title {
	font-size: 30px;
}
.big-title {
	font-size: 35px;
}
.subtitle, .title, .big-title {
	text-transform: uppercase;
	font-weight: 900;
}
.big-title.none-case {
  text-transform: none;
}

/***** NAVBAR *****/
.navbar.navbar-default {
	background-color: #fff;
	border: none;
	border-radius: 0;
	padding: 20px 0 19px;
	margin: 0;
}
.container-fluid {
	padding-left: 25px;
}
.navbar-brand {
	padding: 0;
}
.navbar-brand img {
	height: 50px;
}
.navbar-default .navbar-nav>li>a {
	color: #b0b0b0;
	text-transform: uppercase;
	padding: 10px 11px;
}
.navbar-default .navbar-nav>li>a.icon {
	padding: 10px 8px;
}
.navbar-default .navbar-nav>li>a.btn {
	padding: 0;
}
.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #26d4ff;
}
.navbar-nav > li > a {
   line-height: 40px;  /* Aligns list items to navbar middle */
}

/***** CALCULATOR *****/

.calculator-body {
	background: #fff;
	box-shadow: 0 0 15px 2px rgba(0,0,0,.05);
}
.calculator-content {
	padding: 30px;
}
.main-label {
	margin-bottom: 0;
	font-weight: 400;
}
.calculator-header, .calculator-footer {
	padding: 10px 30px;
}
.calculator-body .btn {
	margin-top: 50px;
	box-shadow: 0 4px 7px -2px rgba(0,0,0,0.4);
}

/***** CALL-TO-ACTION *****/
.call-to-action {
	padding: 90px 0 75px;
}
.call-to-action.orange-bg::after {
	content: '';
    position: relative;
    left: 50%;
    bottom: -118px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ffa819;
    clear: both;
}
.call-to-action.blue-bg::after {
	content: '';
    position: relative;
    left: 50%;
    bottom: -118px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #26d4ff;
    clear: both;
}
/***** FOOTER *****/
.footer {
	padding: 130px 0;
}
.footer-social {
	padding: 0;
}
.footer-social li {
	display: inline-block;
	font-size: 20px;
	background: #fff;
	padding: 12px 15px 8px;
	border-radius: 50%;
	margin-right: 25px;
	line-height: inherit !important;
}
.footer-social li a {
	color: #093640 !important;
}
.footer ul {
	padding: 0;
}
.footer ul a {
	color: #fff;
	text-decoration: none;
}
.footer ul a:hover {
	color: #26d4ff;
}
.footer ul li, .footer p {
	line-height: 3;
}
.footer-logo {
	margin-bottom: 10px;
}
.footer .contact-info {
	list-style: none;
	padding: 0;
	margin-top: 20px;
}
.footer .contact-info img {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.footer .contact-info p {
	line-height: 1.6 !important;
}
.footer .contact-info li {
	margin-bottom: 22px;
}
.copyright {
	padding: 30px 0 25px;
}
.copyright p {
	margin-bottom: 0;
}


/**********
HOME
**********/
.home-banner {
  position: relative;
	background: url("../img/home.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*padding: 490px 0 157px;*/
    padding: 320px 0 157px;
}
.home-banner .transparent-card {
	background: rgba(255,255,255,0.7);
	padding: 30px 35px 40px;
	border-radius: 8px;
	font-size: 18px;
	line-height: 2;
}
.home-banner .transparent-card .btn {
	width: 153px;
}
#info-cards {
  visibility: hidden;
}
.blue-list {
	list-style: square url("../img/blue_checkbox.png")
}
.orange-list {
	list-style: square url("../img/orange_checkbox.png")
}
.blue-list, .orange-list {
	padding-left: 30px;
}
.info {
	padding: 90px 0;
}
.info  .subtitle {
	margin: 45px 0 30px;
}
.info p {
	line-height: 2.5;
}
.info .blue-bg, .info .light-blue-bg, .info .orange-bg, .info .dark-blue-bg {
	padding-top: 65px;
	min-height: 500px;
}
.investor-profile .blue-bg, .loaner-profile .orange-bg {
	padding: 80px 100px 75px;
}
.profiles .container-fluid {
	padding-left: 0;
}
.profiles .investor-bg {
	background: url("../img/inversionista.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.profiles .loaner-bg {
	background: url("../img/solicitante.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.profiles .investor-bg, .profiles .loaner-bg {
	height: 365px;
}
.featured-projects {
	padding: 120px 0 150px;
}
.calculators {
	padding: 100px 0 150px;
}


/**********
QUIERO INVERTIR
**********/
.investment-banner {
  position: relative;
	background: url("../img/invierte.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0 90px;
}
.investment-banner .hero-unit {
	position: relative;
	top: 200%;
	-ms-transform: translate(0, 200%); /* IE 9 */
   	-webkit-transform: translate(0, 200%); /* Safari */
    transform: translate(0, 200%);
}
.investment-info {
	padding: 90px 0 70px;
}
.investment-steps {
	padding: 100px 0 120px;
}
.investment-steps p {
	padding: 20px 15px;
}


/**********
QUIERO UN CRÉDITO
**********/
.loan-banner {
  position: relative;
	background: url("../img/prestamos_personales.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0 90px;
}
.loan-banner .hero-unit {
	position: relative;
	top: 100%;
	-ms-transform: translate(0, 100%); /* IE 9 */
   	-webkit-transform: translate(0, 100%); /* Safari */
    transform: translate(0, 100%);
}
.loans-info {
	padding: 115px 0 190px;
}
.loan-steps {
	padding: 100px 0 120px;
}
.loan-steps p {
	padding: 20px 15px;
}


/**********
CRÉDITO EMPRESARIAL
**********/
.business-loan-banner {
  position: relative;
	background: url("../img/creditos_empresariales.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0 90px;
}
.business-loan-banner .hero-unit {
	position: relative;
	top: 120%;
	-ms-transform: translate(0, 120%); /* IE 9 */
   	-webkit-transform: translate(0, 120%); /* Safari */
    transform: translate(0, 120%);
}
.business-loans-info {
	padding: 115px 0 190px;
}


@media screen and (max-width: 768px) {
	.loan-banner .hero-unit, .business-loan-banner .hero-unit, .investment-banner .hero-unit {
		top: 0;
		transform: none;
	}
	.home-banner {
		padding: 100px 0;
	}
	.home-banner .transparent-card {
		margin: 10px 0;
	}
	.info .blue-bg, .info .light-blue-bg, .info .orange-bg, .info .dark-blue-bg {
		min-height: initial;
	}
}
